<h1> 50 most recent Court of Session Cases </h1>

<table>
  <tr>
    <th>Case Name</th>
    <th>Link</th>
    <th>Judge</th>
  </tr>
    <tr>
      <% @cases.each do |citation| %>
      <td><%= citation.titleize %></td>
      <% end %>
      <% @links.each do |link| %>
      <td>http://www.scotcourts.gov.uk/search-judgments/<%= link %></td>
      <% end %>
      <% @judges.each do |judge| %> 
      <td><%= judge %></td>
      <% end %>
    </tr>
</table>
